body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
}
td {
display: table-cell;
vertical-align: text-top;
}

h1 {
  margin: 40px auto 0 auto;
  font-family: 'Caveat', cursive;
  font-size: 400%;
  font-weight: normal;
}

p {
  line-height: 2;
}

a {
  color: #30475e;
  text-decoration: none;
}

a:hover {
color: #EAF6F6;
}

hr {
  height: 0;
  border: none;
  border-top: 5px dotted #30475e;
  width: 7%;
}

.top-container {
  background-color: #EAF6F6;
  padding: 50px 30px 0;
  color: #30475e;
}

.top-profile-container {
  background-color: white;
  color: #30475e;
  padding: 50px 0;
}

.middle-container {
  background-color: #30475e;
  color: #dddddd;
  padding: 50px 0;
  font-size: 1rem;
}

.bottom-container {
  background-color: white;
  color: #30475e;
  padding: 50px 0 10px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.intro {
  margin: 0 auto;
  }

.table {
  text-align: justify;
  margin: 0 auto;
  table-layout: fixed;
}

.skill-row {
  text-align: left;
  margin: 30px auto;
}

.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.garden {
  width: 25%;
  height: auto;
  float: right;
  margin-left: 30px;
}


.contact-me {
  color: #30475e;
  font-size: 1.5rem;

}

.footer-link {
  text-decoration: none;
  color: #536162;
  font-family: 'Montserrat', sans-serif;
  margin: 50px 20px 10px;
}
.footer-link:hover{
  color: #dddddd;
}

.p-contact {
  margin: 40px auto 20px;
  }

.btn {
   border-radius: 50px;
   color: #30475e;
   font-size: 20px;
   font-weight: 100;
   padding: 25px 35px;
   background-color: white;
   border: solid #30475e 2px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 10px auto 70px;
}

.btn:hover {
   border: solid #30475e 1px;
   background: #30475e;
   }

.copyrights {
  font-size: 0.75rem;
  margin-top: 30px;
  color: #536162;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 90%;
  }
}
